{% extends "basic_template.html" %}
<!DOCTYPE html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<head>
<html lang="en">
	{% block content %}
		<div class="panel panel-default panel-heading text-center" id="search-box">
			<form class="form-inline" role="form">
				<div class="form-group">
					<input name="spec" class="form-control input-lg" id="spec" type="text" placeholder="eg. Dentist, opthalmologist">
				</div>
				<div class="form-group">
					<input name="loc" class="form-control input-lg" id="loc" type="text" placeholder="eg. JP Nagar">
				</div>
				<button class='btn btn-default btn-lg' type="button" id="search-btn"><span class="glyphicon glyphicon-search"></span> Search</button>
			</form>
		</div>
		<div id="doctor-list-wrapper"></div>
		<div class="pagination-wrapper text-center" id="pagination-wrapper">
			<ul class="pagination" id="page-list">
				{% for i in range(1,8) %}
					{% if i==index %}
						<li><a id="page{{i}}" class="active">{{i}}</a></li>
					{% else %}
						<li><a id="page{{i}}">{{i}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endblock %}
	<script> function getLocationList(city) {
			return {{cityList}}
		}
	</script>
	{% block scripts %}
		<script src="{{ functionsJS }}"></script>
	{% endblock %}
</html>